.postHeaderBlock {
  flex-wrap: nowrap;
  column-gap: 15px;
}

.postFooterBlock {
  border-top: 0.1px solid #b5b7ce;
}

.memberTypeBlock {
  background-color: #5d5df5;
}

.dateStampBlock {
  font-size: 0.75rem;
  width: fit-content;
}

.postValueBlock {
  overflow-x: hidden;
  max-width: 100%;
  height: auto;
}

.postValueBlock img {
  width: 100%;
  object-fit: contain;
}

.postValueBlock a {
  text-decoration: none;
  color: aqua;
}

.postHeaderBlock .checkWrapper {
  top: 3px;
}

@media screen and (max-width: 500px) {
  .parentBlock {
    font-size: 0.75rem;
  }
}
