.customContainer {
  width: 100vw !important;
  height: 100vh !important;
  background-color: #f8f8fb !important;
}

.bodyContainer {
  width: 100% !important;
  height: 100% !important;
  flex-grow: 1;
  overflow: hidden;
}

.mainBodyCol {
  height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto !important;
}

.mainBodyCol {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.mainBodyCol::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media screen and (min-width: 768px) {
  .mainBodyCol {
    max-width: min(1400px, 100%);
  }
}
